   <section class="sign-in-page">
     <div id="container-inside">
         <div id="circle-small"></div>
         <div id="circle-medium"></div>
         <div id="circle-large"></div>
         <div id="circle-xlarge"></div>
         <div id="circle-xxlarge"></div>
     </div>
       <div class="container p-0">
           <div class="row no-gutters">
               <div class="col-md-6 text-center pt-5">
                   <div class="sign-in-detail text-white">
                       <a class="sign-in-logo mb-5" href="#"></a>
                   </div>
               </div>
               <div class="col-md-6 bg-white pt-5">
                   <div class="sign-in-from">
                       <h1 class="mb-0">Inscription</h1>
                        <div class="alert alert-danger"*ngIf="error.msg">
                            {{ error.msg }}
                          </div>
                          <div class="alert alert-success"*ngIf="success">
                            {{ success }} <a href="login">. Revenir au login</a>
                          </div>
                       <form class="mt-4" (ngSubmit)="registerUser()" >
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control mb-0" id="nom" name="nom" placeholder="Entrez votre nom" [(ngModel)]="user.nom" required>
                            </div><div class="form-group">
                                <label for="prenom">Prenoms</label>
                                <input type="text" class="form-control mb-0" id="prenom" name="prenom" placeholder="Entrez vos prenoms" [(ngModel)]="user.prenom" required>
                            </div>
                           <div class="form-group">
                               <label for="email">Email</label>
                               <input type="email" class="form-control mb-0" id="email" name="email" placeholder="Entrez votre email" [(ngModel)]="user.email" required>
                           </div>
                           <div class="form-group">
                               <label for="mdp">Mot de passe</label>
                               <input type="password" class="form-control mb-0" id="mdp" name="mdp" placeholder="Saisissez votre mot de passe" [(ngModel)]="user.mdp" required>
                           </div>
                           <div class="form-group">
                            <label for="mdpconfirm">Confirmer votre mot de passe</label>
                            <input type="password" class="form-control mb-0" id="mdpconfirm" name="mdpconfirm" placeholder="Confirmez votre mot de passe" [(ngModel)]="user.mdpconfirm" required>
                        </div>
                           <div class="d-inline-block w-100">
                               <button type="submit" class="btn btn-primary float-right">S'inscrire</button>
                           </div>
                           <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2"><a href="login">J'ai déjà un compte </a></span>
                        </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
   </section>