.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacement entre les chips */
  margin-top: 10px;
}

.chip {
  display: flex;
  align-items: center;
  background-color: #007bff; /* Bleu Bootstrap */
  width: 60%;
  color: white;
  padding: 8px 12px;
  border-radius: 20px; /* Coins arrondis */
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn {
  margin-left: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 3px 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Permet à la ligne d’occuper toute la largeur disponible */
.row {
  width: 90%;
  margin: 0;
}

/* Assure que les colonnes ne sont pas trop centrées */
.container {
  max-width: 100%;
  padding: 0 20px;
}



::ng-deep .fc-event {
  color: white !important;  /* Assurez-vous que le texte soit lisible */
  border-radius: 4px;       /* Vous pouvez appliquer des bordures arrondies si nécessaire */
}

/* Classe pour les événements passés */
::ng-deep .fc-event.event-past {
  background-color: gray !important;
  border-color: gray !important;
}

/* Classe pour les événements d'aujourd'hui */
::ng-deep .fc-event.event-today {
  background-color: blue !important;
  border-color: blue !important;
}

/* Classe pour les événements futurs */
::ng-deep .fc-event.event-future {
  background-color: green !important;
  border-color: green !important;
}



/* partie formulaire */
.modification{
  margin-left: 15%;
}
.modif{
  margin-left: 15%;
  width: 100%;
}
.modifss{
  height: 50%;
}
